@mixin center{
    display: flex;
    justify-content: center;
}
@mixin between{
    display: flex;
    justify-content: space-between;
}
@mixin evenly{
    display: flex;
    justify-content: space-evenly;
}