header{
    width: 100%;
    height: 70px;
    background-color: $myblue;
   @include center();   
    .logo{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    nav{
        width: 70%;
        ul{
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            li{
                list-style: none;
                a{
                    color: red
                };
            }
        }
    }
}