

// .animate-box{
//     position: relative;
//     width: 100px;
//     height: 100px;
//     background-color: red;
//     animation-name: boxanimated;
//     animation-duration: 5s;
//     animation-iteration-count: infinite;
// }

// @keyframes boxanimated {
//     // from{left: 0;}
//     // to{left: 100px;}
//     0%{left: 0; top: 0;}
//     20%{left: 300px;top: 0; background-color: green;}
//     50%{left: 300px;top: 300px; background-color: yellow;}
//     70%{left: 0;top: 300px; border-radius: 50%;}
//     100%{left: 0; top: 0; width: 300px;}
    
    
// }



// .box{
//     position: relative;
//     width: 100px;
//     height: 300px;
//     background-color: red;
//     &::before{
//         position: absolute;
//         content: "";
//         display: block;
//         width: 100px;
//         height: 0px;
//         background-color: black;
//         opacity: 0.5;
//         transition: 1s;
//         bottom: 0;
//     }
//     &:hover::before{
//         height: 300px;
//     }
// }   


// .main{
//     background-color: red;
//     width: 30px;
//     height: 20px;
   
//         &:hover{
//             .green-box{
//                 transform: translateX(100px);
//             }
        
// }
// .green-box{
//     width: 100px;
//     height: 100px;
//     background-color: green;
//     transition: 1s;
//     &:hover{
//         transform: translateX(0px);
//     }

// }
// }