/* .box-one{
    width: 200px;
    height: 100px;
    background-color: red;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 20px;
    margin: 20px 50px 40px 10px;
}

.box-two{
    width: 200px;
    height: 100px;
    background-color: green;
    margin-left: 30px;
    padding: 20px 50px 40px 10px;
     padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 20px;
} */

/* div{ */
    /* display: inline-block; */
    /* width: 100%;
    height: 100vh; */
    /* background-color: red; */
    /* background-color: hsla(352, 100%, 76%, 0.633); */
    /* 0123456789abcdef */
    /* # min3 max6 max7,8 opacity  */

    /* background-color: rgb(red, green, blue); */
    /* background-color: rgb(200, 100, 10); */
    /* background-color: rgba(200, 100, 10, 1); */
    /* background-color: hsl(176, 65%, 40%); */
    /* background-color: hwb(176 0% 0%); */
    /* min0 max255  */

/* } */

/* a{
    display: block;
    width: 100px;
    height: 100px;
    background-color: red;
} */

/* html{
    font-size: 20px;
}

.main{
    font-size: 10px;
}


h1{
    font-size: 3rem;
} */
