// .modal-backdrop {
//     background: none;
// }

.form-control:focus{
    box-shadow: none;
}

.light{
    *{
        color: #000 !important;
        background-color: #fff !important;
    }
}

.dark{
    *{
        color: #fff !important;
        background-color: #000 !important;
    }
}